<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p>
    {% if price != 0 %}
    <div class="alert alert-success">
        <strong>New Product added:<br/>
            Name: {{ nam }}<br/>
            Price: {{ price }}<br/>
            GST: {{ gst }}<br/>
            Total Price: {{ totalPrice }}<br/>
        </strong>
    </div>
    {% endif %}
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      <h3>Add a product</h3>
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
            <label for="email">Enter product name</label>
            <input type="text" name="name" class="form-control" id="email">
          </div>
          <div class="form-group">
            <label for="pwd">Price:</label>
            <input type="Number" name="price" class="form-control" id="pwd">
          </div>
         <div class="form-group">
              <label for="sel1">Select GST Slab:</label>
              <select class="form-control" name="gst" id="sel1">
                <option value="5">5%</option>
                <option value="12">12%</option>
                <option value="18">18%</option>
                <option value="28">28%</option>
              </select>

            </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div class="col-sm-3">

    </div>
  </div>
    <div class="container">
    <hr/>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

    <div class="container">
        <hr/>
  <h2>List of Products in our database</h2>
  <p>Final price is calculated using (http://api.mathjs.org/)</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Product name</th>
        <th>Original Price</th>
        <th>GST %</th>
        <th>Final Price(including GST)</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
    {% for i in data %}

      <tr>
        <td>{{i.product_name}}</td>
        <td>{{i.product_price}}</td>
        <td>{{i.gst}}%</td>
        <td>{{i.totalPrice}}</td>
          <td>{{i.timestamp}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
<br/>
<br/>
<br/>
<br/>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
var data = {
    datasets: [{
        data: [{{ gst5p }}, {{ gst12p }}, {{ gst18p }}, {{ gst28p }}]
    }],

    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [
        'GST 5%',
        'GST 12%',
        'GST 18%',
        'GST 28%'
    ]
};
    var ctx = document.getElementById('myChart').getContext('2d');
var myPieChart = new Chart(ctx,{
    type: 'pie',
    data: data,
    options: {}
});

</script>
</body>
</html>
